<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<div>|
  <% @restaurant.reviews.each do |review| %>
  <%= review.content %>
  <% end %>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
